* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-black {
  background-color: lightblue;
}

.background-white {
  background-color: pink;
}

/* Ensure the icon doesn't have a background color */
.icon {
 
  background-color: transparent !important; /* Important to override if necessary */
  width: 100px;
  height: 20vh;
}

.iconn{
  display: flex;
  position: absolute;
  right: 0;
  align-items: end;
  justify-content: end;
}
